<h1>Edit post</h1>

<%= form_for(@post) do |f| %>

  Image: <%= f.file_field :image %>
  <!--<input type="file" name="image"><br>-->
  Content: <%= f.text_field :content %>
  <!--<input type="text" name="content"><br>-->
  <%= f.submit "Save" %>
  
<% end %>