<h1>Posts Index</h1>

<a href="/posts/new">New</a>

<div>
  <% @posts.each do |post| %>

    <div>
      <a href="/posts/<%= post.id %>">
        <%= post.content %>
      </a>
    <div>

  <% end %>
</div>
