
<div class="container">

  <h1>My page</h1>

  <% if user_signed_in? %>
    <%=link_to("New",new_post_path)%>
  <% end %>
  
  <div class="row">
    <% @posts.each do |post| %>

      <div class="col-4">
        <%= link_to(post) do %>
          <%= image_tag(post.image.url, class:"img-fluid") %>
          <!--<img src="<%= post.image.url %>" class="img-fluid">-->
        <% end %>
      </div>

    <% end %>
  </div>

</div>
